footer {
    display: flex;
    background-color: #00802F;
    width: 100%;
    position: absolute;
    align-items: center;
    bottom: 0;
    box-shadow: 0em 0.1em 5em 0em rgb(97, 97, 97);
}

h1 {
    display: block;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    color: #ffffff;
    font-family: helvetiFont, sans-serif;
}