:host {
    width: auto;
    text-align: center;
    top: 4em;
    position: relative;
}

.inputArea {
    resize: none;
    height: 3em;
    width: 32em;
    border-radius: 0.25em;
    outline: none;
    font-family: montserratLight, sans-serif;
    vertical-align: bottom;
    padding: 0.5em;
    color: rgb(94, 94, 94);
}

.inputArea::-webkit-scrollbar {
    width: 0.5em;
}

.inputArea::-webkit-scrollbar-thumb {
    background: rgb(169,169,169);
    border-radius: 0.25em;
    border: 1px solid rgb(169,169,169);
}

.sendMessageBtn {
    height: 2em;
    background-color: #00802F;
    color: white;
    border-radius: 0.25em;
    border: none;
    font-family: montserratLight, sans-serif;
    margin-left: 1em;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.sendMessageBtn:disabled {
    background-color: transparent;
    color: #00802F;
    cursor: default;
}