:host {
    width: auto;
    text-align: center;
    margin-top: 2em;
    position: relative;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 0.85em;
    height: 2em;
    width: 2.1em;
    border-radius: 0.25em;
    position: absolute;
    right: 9.5em;
    outline: 2em;
    font-family: montserratLight, sans-serif;
    vertical-align: bottom;
    padding-left: 0.4em;
    border: 1px solid rgb(169,169,169);
    color: rgb(94, 94, 94);
    background-color: white;
    display: inline-block;
}

.inputArea {   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    resize: none;
    height: 0.9em;
    border-radius: 0.25em;
    width: 8em;
    outline: 2em;
    font-family: montserratLight, sans-serif;
    vertical-align: bottom;
    padding: 0.5em;
    border: 1px solid rgb(169,169,169);
    color: rgb(94, 94, 94);
    text-align: left;
    box-shadow: inset 0px 0px 0px 0px red;
    position: relative;
    display: inline-block;
}

option {
    color: rgb(94, 94, 94);
    font-size: 1.6em;
}

.outputUserBtn1 {
    height: 2em;
    background-color: #00802F;
    color: white;
    border-radius: 0.25em;
    border: none;
    font-family: montserratLight, sans-serif;
    margin-left: 0.5em;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    display: inline-block;
}

.outputUserBtn1:disabled {
    background-color: transparent;
    color: #00802F;
    cursor: default;
    border: 1px solid #00802F;
}

.outputUserBtn2{
    display: none;
}

@media only screen and (max-width: 680px) {
    :host {
        margin-top: 1em;
    }

    select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font-size: 1em;
        right: 9.35em;
        height: 2em;
        width: 2em;
        border-radius: 0.25em;
        position: absolute;
        display: inline-block;
        outline: none;
        font-family: montserratLight, sans-serif;
        bottom: 0;
        padding-left: 0.4em;
        border: 1px solid rgb(169,169,169);
        color: rgb(94, 94, 94);
        background-color: white;
    }

    input {
        resize: none;
        height: 1.7em;
        font-size: 1em;
        border-radius: 0.25em;
        font-family: montserratLight, sans-serif;
        vertical-align: bottom;
        padding: 0.5em;
        border: 1px solid rgb(169,169,169);
        color: rgb(94, 94, 94);
        text-align: left;
        width: 8em;
    }

    .outputUserBtn1 {
        display: none;
    }

    .outputUserBtn2 {
        height: 2em;
        background-color: #00802F;
        color: white;
        border-radius: 0.25em;
        border: none;
        font-family: montserratLight, sans-serif;
        font-weight: bold;
        font-size: 1em;
        width: 2em;
        margin-left: 0.25em;
        padding: 0;
        padding-bottom: 0.15;
        outline: none;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        display: inline-block;
    }
    
    .outputUserBtn2:disabled {
        background-color: transparent;
        color: #00802F;
        cursor: default;
        border: 1px solid #00802F;
    }
    
}

@media only screen and (min-width: 680px) {
    #startOption {
        content: "j";
    }

    option {
        content: none;
    }
}